.reviews__wrapper {
    margin-right: 2.5em;
}

.review__card {
    width: 100%;
}

.review__footer {
    display: flex;
    justify-content: space-between;
}

/* FORM STYLES */
fieldset {
    border: none;
    margin: 0 0 1em 0;
    padding: 0;
}


/* ICONS */
.star {
    color: crimson
}

.star--fade {
    opacity: .5;
}

/* BUTTONS */
.btn {
    background-color: rgb(114, 114, 114);
    color: white;
    border: 1px solid rgb(40, 40, 40);
}

.btn:hover {
    background-color: crimson;
}